
	.cm{
		max-width: 639px;

	}

	.box1 section .enlarge{
		bottom: 50px;
	}
	.logo{
		width: 120px;
		height: 120px;
		border: 10px solid #fff;

		top: -80px;
	}
	.head{
		height:100px;
	}
	.h3{
		position: relative;
	    top: -160px;
	    margin-top: -16px;
	    font-size: 32px;
	}

	.red{
		margin-left: 32px;
	}

	.box .p2{
		margin-top:20px;
	}

	
	/*三张图片*/
	.pic{
		margin-top: 20px;
		display:-webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
		overflow: hidden\9;
	}
	.pic>div{
		width: 160px;
		height: 160px;
		float: left\9;
		padding-right: 50px;
	}
	

	.box1 .reg{
		    border-bottom: 2px solid #eeeeee;
	}
	.box1 div{
		width: 50%;
		height: 60px;
		float: left;
		margin-top: 20px;
		line-height: 60px;
	}
	.box1 .p1{
		line-height: 50px;
	
	}
	.p1 .left{
		margin-left: 10px;
	}
	.right{

		margin-right: 10px;
	}
	.box1 em{
		margin-left: 5px;
	}
	
	/*评论*/
	.box1>.left-comment{
		width: 100%;
		position: absolute;
		top: 60px;
	}
	.box1 .user{
		width: 100%;
		height: 150px;
		border-top: 2px solid #eeeeee;
		margin-top: 80px;
	}
	.box1 article{
		width: 20%;
		height: 100%;

	}
	.box1 article div{
		width: 90px;
		height: 90px;
	}

	.box1 section .name{
		line-height: 30px;
		padding-top: 25px;
	}
	.box1 section .name p{
		margin-top: 20px;
	}
	.box1 section .p3{
		line-height: 20px;
		padding: 8px 0;
	}
	.box1 section .item{

		margin: 8px;
		width: 80px;
		height: 120px;
		background-position: 50%;
		
	}

	/*介绍*/
	.box1 .right-suggestt{
		top: 60px;
	}


/*媒体查询*/
@media screen and (max-width:1127px) {
			.cm{
				max-width: 840px;
			}
		}

@media (min-device-width : 414px) and (max-device-width : 736px) {
	.cm{
				max-width: 100%;
			}
}
@media (min-device-width : 320px) and (max-device-width : 413px) {
	.cm{
				max-width: 100%;
			}
}