
	body{
		font-family: '微软雅黑';
		font-size: 16px;
	}
	*{
		margin: 0;
		padding: 0;
	}
	img{
		width: 300px;
		height: 100px;
	}
	.cm{
		max-width: 639px;
		height: 100%;
		margin:0 auto;
	}
	.content{
		
	}
	.box1 section .enlarge{
		width: 100%;
		height: 100%;
		position: fixed;
		bottom: 50px;
		left: 0;
		z-index: 9999999;
		display:none;
	}
	.box1 section .enlarge img{
		width:100%;
		height: 100%;
	}
	.box{
		text-align: center;

	}
	.logo{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		-webkit-border-radius: 50%; 
		-moz-border-radius: 50%; 
		behavior: url(PIE.htc);
		background: #ccc;
		margin: 0 auto;
		border: 10px solid #fff;
		position: relative;
		top: -80px;
	}
	.head{
		width: 100%;
		height: 100px;
		 background-color: #fd5681;
	}
	.h3{
		position: relative;
	    top: -160px;
	    margin-top: -16px;
	    font-size: 32px;
	}
	.blue{
		color: #00b4fe;
	}
	.red{
		margin-left: 32px;
		color: #ef367a;
	}
	.box p{
		color: #c5c5c5;
	}
	.box .p2{
		margin-top:20px;
	}
	.box .p2 .red{
		margin-left:0;
	}
	
	/*三张图片*/
	.pic{
		margin-top: 20px;
		display:-webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
		overflow: hidden\9;
	}
	.pic>div{
		width: 160px;
		height: 160px;
		float: left\9;
		padding: 0 26px;
	}
	.pic img{
		width: 100%;
		height: 100%;
	}

	.box1{
		width: 100%;
		text-align: center;
		position: relative;
	}
	
	.box1 .clk{
		border-bottom: 2px solid #fe568a;
		color:#fe568a;
	}
	.box1 .reg{
		    border-bottom: 2px solid #eeeeee;
		    color: #000;
	}
	.box1 div{
		width: 50%;
		height: 60px;
		float: left;
		margin-top: 20px;
		line-height: 60px;
		/*border-bottom: 2px solid #eeeeee;*/
	}
	.box1 .p1{
		line-height: 50px;
	
	}
	.p1 .left{
		float: left;
		margin-left: 10px;
	}
	.right{
		float: right;
		margin-right: 10px;
	}
	.box1 em{
		color: #f5182a;
		margin-left: 5px;
	}
	
	/*评论*/
	.box1>.left-comment{
		width: 100%;
		position: absolute;
		top: 150px;
	}
	.box1 .user{
		width: 100%;
		height: 150px;
		border-top: 2px solid #eeeeee;
		margin-top: 80px;
	}
	.box1 article{
		width: 20%;
		height: 100%;
		float: left;
	}
	.box1 article div{
		width: 90px;
		height: 90px;
	}
	.box1 section{
		width: 80%;

		text-align: left;
		float: left;
		color: #9b9b9b;
	}
	.box1 section .ico{
		background-size: cover; 

		background-repeat: no-repeat;
	}
	.box1 section .name{
		line-height: 30px;
		padding-top: 20px;
	}
	.box1 section .name span{
		float: right;
		color: green;
	}
	.box1 section i{
		color: #c0c0c0;
	}
	.box1 section .name p{
		margin-top: 20px;
	}
	.box1 section .p3{
		line-height: 20px;
		padding: 8px 0;
	}
	.box1 section .item{

		margin: 8px;
		width: 80px;
		height: 120px;
		background-position: 50%;
		background-size: cover;
		
	}
	.box1 section .item img{
		width: 100%;
		height: 100%;
	}

	/*介绍*/
	.box1 .right-suggestt{

		width: 100%;
	
		position: absolute;
		top: 150px;
		display: none;
	}

	/*尾部固定下载栏*/
	footer{
		width: 100%;
		height: 50px;
		background: rgba(76,76,76,0.7);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); 
		position: fixed;
		bottom: 0;
		left: 0;
	}
	footer .btn{
		width: 80%;
		height: 50px;
		text-align: center;
		border-radius: 25px;
		-webkit-border-radius: 25px; 
		-moz-border-radius: 25px; 
		behavior: url(PIE.htc);
		background: #fe5880;
		margin: 0 auto;
		line-height: 50px;
		position: relative;
		z-index: 99999;
	}
	footer .btn span:first-child{
		color: yellow;
		margin-right: 20px;
	}footer .btn span:first-child+span{
		color: #fff;
		margin-left: 20px;
	}

/*媒体查询*/
@media screen and (max-width:1127px) {
			.cm{
				max-width: 840px;
			}
		}

@media (min-device-width : 414px) and (max-device-width : 736px) {
	.cm{
				max-width: 100%;
			}
}
@media (min-device-width : 320px) and (max-device-width : 413px) {
	.cm{
				max-width: 100%;
			}
}